{% extends 'base.html' %} 
{% block content %}

<div class="container"> 
    <p>Es indiscutible que si has aterrizado en esta página y nos estás leyendo es porque te gusta la cocina. Es posible que seas, incluso, reincidente, que estés suscrito a nuestras actualizaciones y que pases por aquí con regularidad. Nada nos gusta más que tus visitas y el hecho de que te encante cocinar, pero nos da en la nariz que, igual que a nosotros, también te gusta tener a mano recetas fáciles y rápidas.</p>
</div>

{% endblock %} 