

<div>
    <h2>Desarrollado por Nicole Maturana para Desafío Latam</h2>
</div>
<div>
    <a href="https://github.com/"> <i class="fa-brands fa-github connectiontooltip" data-bs-toggle="tooltip"
            title="Presiona para ir a git-hub"></i></a>
    <a href="https://www.facebook.com/?locale=es_LA"> <i class="fa-brands fa-facebook-f connectiontooltip"
            data-bs-toggle="tooltip" title="Presiona para ir a facebook"></i></a>
    <a href="https://x.com/?lang=es"> <i class="fa-brands fa-twitter connectiontooltip" data-bs-toggle="tooltip"
            title="Presiona para ir a twitter"></i></a>
    <a href="https://es.linkedin.com/learning/"> <i class="fa-brands fa-linkedin-in connectiontooltip"
            data-bs-toggle="tooltip" title="Presiona para ir a linkedin"></i></a>
</div>