body {
    background-color: rgb(172, 211, 245);
}
.card-title {
    font-size: 23pt;
    font-weight: 700;
    color: #373A3C;
    padding-bottom: 15px;
}

#header{
    display: flex;
    justify-content: space-around;
}
#header img {
    width: 50%;
}
#navbar{
    margin-bottom: 10px;
    background-color:rgb(19, 99, 99);
}
#home h1{
    margin: 50px;
}
#bienvenido {
    height: 200px;
    padding: 20px;

}
#contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contacto-boton{
    margin: 5px;
}
#welcome .btn{
    margin-top: 30px;
}

#acerca{
    text-align: justify;
    padding: 20px;
}
#carouselExampleDark{
    margin: 20px;
    padding: 5px;
    
}

#footer {
    background-color: rgb(19, 99, 99);
    margin-top: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#footer i {
    font-size: 30px;
    margin: 10px;
}
